{
    "text_indent": 0, 
    "default_ext": ".md", 
    "folders_sort": "default", 
    "md_template_content": "", 
    "summary_lines": 3, 
    "hide_ext": "no", 
    "editor_insert_image_template": "", 
    "editor_archive_type": "", 
    "watcher_engine": "fsevent", 
    "new_file_template": "", 
    "title_type": "meta", 
    "editor_image_store_path": "", 
    "md_injected_css": "", 
    "files_sort": "default"
}